*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header{
    background-color: #5f27cd;
    padding: 16px 0;
    color:#fff;
    display:flex;
    border-bottom:18px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button{
    margin-left: 16px;
}

form{
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display:none;
}

form h2{
    margin-bottom: 16px;
}

input , button{
    padding:8px
}

button{
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#botão-cancelar{
    background-color: red;

}
ul{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    max-width: 25%;
    list-style: none;
    position:relative;
    max-height: 280px;
    overflow-y: hidden;
}
a{
    font-size: 15px;
}
.overlay-img-link{
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    opacity: 0;
    margin-bottom: 4px;
    max-height: 43px;
    transition: all ease 0.8s;
}
img{
    height:160px;
    padding: 4px;
    width: 230px;
}

.overlay-img-link a{
    color:#fff;
    text-decoration: none;
}

ul li:hover .overlay-img-link{
    opacity: 1;
}