*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color:rgb(229 205 95);
}

body { overflow-x: hidden;
}

header{
    margin-left: 600px;
    margin-top: 30px;
    text-transform: uppercase;
}

#title{
    display: flex;
    font-weight: bolder;
}

form{
    margin-top: 90px;
    margin-left: 500px;
    display: block;
    background-color: #ffb630;
    max-width: 500px;
    height: 500px;
    display:none;
    border: solid 2px black;
    border-radius: 6px;
}

.cabecalhoDaLista{
    display: flex;
    background-color: #ffb630;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-top: 10px;
}

.desc {
    white-space: pre-wrap; 
}

#closeList{
    margin-right: 5px;
}

button{
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: #f75d32;
    border-radius: 10px;
    padding: 3px;
}

ul{
    padding-left: 5px;
    text-decoration: none;
    display: flex;
    background-color: #ffb630;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

ul li{
    max-width: 95%;
    list-style: none;
    position:relative;
    max-height: 280px;
    overflow-y: auto;
    overflow-x: auto;
    border: solid 2px;
    border-radius: 6px;
}

.list{
    display: flex;
}

h2{
    background-color: #ffb630;
    margin-left: 70px;
}

#open{
    margin-left: 120px;
    margin-top: 10px;
    padding: 5px;
    font-size: large;
    background-color: #f73500;
    
}

.botao-cancelar{
    width: 80px;
    height: 30px;
    position: sticky;
    left: 100%;
    bottom: 103px
}

form input{
    margin-left: 10px;
    margin-bottom: 15px;
    border: solid 1px;
    border-radius: 4px;
    padding: 3px;
}

form li{
    margin-left: 10px;
    margin-bottom: 15px;
    height: 140px;
    width: 80%;
}

#novaTarefa{
    width: 116px;
}

#descriçãoDaTarefa{
    width: 160px;
}

.tarefa.concluida {
    text-decoration: line-through;
}